**Day 1 Notes**
- Dataset Source: [UCI Adult Census](https://archive.ics.uci.edu/dataset/2/adult)
- Dataset: adult.csv
- Shape: Rows: 32561, Columns: 15
- Cols with Missing Values: occupation, workclass, native_country
- Plan: Replace '?' with NaN

In [64]:
# Imports and display settings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Defaults
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50
sns.set(style="whitegrid") #  seaborn default
%matplotlib inline

In [65]:
# Column names for UCI dataset
column_names = [
    "age",
    "workclass",
    "fnlwgt",
    "education",
    "education_num",
    "marital_status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "capital_gain",
    "capital_loss",
    "hours_per_week",
    "native_country",
    "income"
]

df = pd.read_csv(r"C:/Users/darre/adult_census_eda/data/adult.data",
                 header=None,
                 names=column_names,
                 na_values="?",
                 skipinitialspace=True)

In [66]:
df.shape

(32561, 15)

In [67]:
# Quick checks
display(df.head(10))
df.info()
df.describe(include="all").T

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,32561.0,NaN,NaN,NaN,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
workclass,30725,8,Private,22696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fnlwgt,32561.0,NaN,NaN,NaN,189778.366512,105549.977697,12285.0,117827.0,178356.0,237051.0,1484705.0
education,32561,16,HS-grad,10501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education_num,32561.0,NaN,NaN,NaN,10.080679,2.57272,1.0,9.0,10.0,12.0,16.0
marital_status,32561,7,Married-civ-spouse,14976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occupation,30718,14,Prof-specialty,4140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
relationship,32561,6,Husband,13193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race,32561,5,White,27816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,32561,2,Male,21790,NaN,NaN,NaN,NaN,NaN,NaN,NaN
capital_gain,32561.0,NaN,NaN,NaN,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital_loss,32561.0,NaN,NaN,NaN,87.30383,402.960219,0.0,0.0,0.0,0.0,4356.0
hours_per_week,32561.0,NaN,NaN,NaN,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0
native_country,31978,41,United-States,29170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income,32561,2,<=50K,24720,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Column Type Detection
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
object_cols = df.select_dtypes(include=["object","category"]).columns.tolist()
print("numeric:", numeric_cols)
print("categorical/object:", object_cols)

In [ ]:
# Missing placeholders and unique counts
# Count of "?" occurrences per column
q_counts = {col: (df[col] == "?").sum() for col in df.columns if df[col].dtype == "object"}
display(pd.Series(q_counts).sort_values(ascending=False))

# Unique counts for cat. cols
df[object_cols].nunique().sort_values(ascending=False)

In [ ]:
# Quick data dictionary
data_dict = pd.DataFrame({
    "column": df.columns,
    "dtype": [str(df[c].dtype) for c in df.columns],
    "n_unique": [df[c].nunique(dropna=False) for c in df.columns],
    "sample_values": [str(df[c].dropna().unique()[:5]) for c in df.columns]
})
data_dict

In [ ]:
# Ensuring correct data loads
plt.figure(figsize=(8,4))
df['age'].hist(bins=30)
plt.title("Age distribution")
plt.xlabel("Age")
plt.ylabel("count");

plt.figure(figsize=(10,4))
df['education'].value_counts().head(10).plot(kind='bar')
plt.title("Top 10 Education Levels")
plt.xlabel("Education")
plt.ylabel("Count");

** Day 2: Data Clenaing Notes **
- Categorical Columns: workclass, education, marital_status, occupation, relationship, race, sex, native_country, income
- Numerical Columns: age, fnlwgt, education_num, capital_gain, capital_loss, hours_per_week, income

In [ ]:
# Convert columns to correct types
for col in object_cols:
    df[col] = df[col].astype("category")

display(df.dtypes)

# Replace "?" with NaN
df.replace("?", np.nan, inplace=True)
df.isna().sum()

In [ ]:
# Category counts for categorical columns
for col in object_cols:
    print(f"\n{col} value counts:")
    print(df[col].value_counts())

df.describe()

In [ ]:
df.to_csv(r"C:/Users/darre/adult_census_eda/data/adult_cleaned.csv")